@model RSAEDU.Models.FacultyInfo

@{
    ViewBag.Title = "Edit";

}

<h5>Faculty Info Edit Form</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Html.Raw(ViewBag.Message)</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EntryDate)
        @Html.HiddenFor(model => model.EntryBy)

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName)
                @Html.ValidationMessageFor(model => model.FacultyName)
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
